.checkbox-inline {
  text-indent: 20px !important;
  height: 55px;
  text-align: center;
}

.radio-inline {
  text-indent: 20px !important;
  height: 55px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
 /* Alternate table row colours */
tr:nth-child(even) {
  background-color: #e3e4e8;
  text-align: center;
  font-size: small;
}

tr:nth-child(odd) {
  background-color: white;
  text-align: center;
  font-size: small;
}

/* Table head colour */
th {
    background-color: #4CAF50;
    color: white;
    font-size: small;
}
